*.py[cod]
*.pyc
.DS_Store
_version.py

*.egg-info
.eggs/*
__pycache__/*
dist/*

.cache
.coverage
.coverage.*
htmlcov/*
.benchmarks/
.pytest_cache/

doc/build/*
docs/_build/
docs/_gettext/
docs/locale/**/*.mo

.idea/*
.vscode/

**/.ipynb_checkpoints
*~*

.venv/
/logs
.pypirc

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv

# Poetry
poetry.lock
poetry.toml
.poetry/
